{{ $fontAwesomeVersion := site.Params.font_awesome_version }}
{{ $fontAwesomeUrl := printf "https://use.fontawesome.com/releases/v%s/css/all.css" $fontAwesomeVersion }}
@charset "utf-8"

@import url({{ $fontAwesomeUrl }})

@font-face
  font-family: 'Gotham Book Regular'
  src: url('/fonts/Gotham-Book-Regular.otf') format('opentype')

// Project color palette
$reactive-magenta: rgb(255, 0, 147)
$reactive-light-purple: rgb(191, 46, 174)
$reactive-dark-purple: rgb(94, 0, 148)
$reactive-black: rgb(48, 52, 68)

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

$primary: $reactive-magenta
$secondary: $reactive-light-purple
$link: $secondary
$link-weight: 700

$navbar-height: 4rem
$navbar-item-img-max-height: $navbar-height * 0.7
$navbar-burger-color: $primary
$navbar-dropdown-border-top: 1px solid $grey-light
$section-padding: 3rem 1.5rem
$family-sans-serif: 'Gotham Book Regular', sans-serif

.bottom-padding
  padding-bottom: 8rem

.body
  display: flex
  flex-direction: column
  min-height: 100vh

  .main
    flex: 1

@import "bulma/sass/utilities/derived-variables"

@import "bulma/bulma"

.content a
  font-weight: 400

.pricing-table
  width: 50%

.member-logos
  margin-top: 4rem

  .member-logo
    +desktop
      img
        width: 75%
        margin-bottom: 1rem
    +mobile
      img
        width: 50%

.read-more
  margin-top: 5rem

.news-item
  &-header
    
  &-title
    font-size: 1.5rem

  & + &
    margin-top: 3rem

.navbar-dropdown
  padding: .5rem 0
  border: none
  background-color: $dark

  .navbar-item
    color: $grey-lighter
    font-size: 1rem
    font-weight: 400

    &:hover
      color: $primary !important
      background-color: $black !important

    &.is-active
      color: $primary


=overlay
  background-color: rgba(221,23,151,.75)

hr.home
  height: 1px
  margin: 0 auto
  background-color: $primary
  width: 50%

.footer
  background-color: $dark

  &-logo
    width: 50%

  &-copyright
    color: $grey-light

    a
      font-weight: 500
      color: $grey-lighter

      &:hover
        color: $primary

.is-hero-logo
  +mobile
    width: 70%
    margin-bottom: 1.5rem
  +tablet
    width: 30%
    margin-bottom: 3rem

.is-faq-content
  .faq
    & + .faq
      margin-top: 2rem
