{{ $year    := now.Year }}
{{ $logo    := site.Params.logos.footer }}
{{ $logoUrl := printf "img/logos/%s" $logo | relURL }}
{{ $copy    := site.Params.copyright | markdownify }}
<footer class="footer has-text-weight-light">
  <div class="container">
    <div class="columns is-vcentered is-variable is-8">
      <div class="column is-one-quarter has-text-centered">
        <img class="footer-logo" src="{{ $logoUrl }}">
      </div>

      <div class="column">
        <p class="is-size-5 is-size-6-mobile footer-copyright">
          &copy; {{ $year }} {{ $copy }}
        </p>
      </div>
    </div>
  </div>
</footer>
