{{ $home       := site.BaseURL }}
{{ $logo       := site.Params.logos.navbar }}
{{ $logoUrl    := printf "img/logos/%s" $logo | relURL }}
{{ $menu       := site.Menus.main }}
{{ $currentUrl := .RelPermalink }}
{{ $github     := site.Params.github_repo }}
<nav class="navbar is-fixed-top is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logoUrl }}" alt="{{ site.Title }} navbar logo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        {{ range $menu }}
        {{ if .HasChildren }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-5 is-arrowless"{{ with .URL }} href="{{ . }}"{{ end }}>
            {{ .Name }}
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .Children }}
            <a class="navbar-item is-size-6" href="{{ .URL }}">
              {{ .Name }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a class="navbar-item is-size-5" href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ end }}
        {{ end }}

        <div class="navbar-item">
          <a class="button is-black" href="{{ $github }}" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span class="has-text-weight-bold">
              GitHub
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
