{{ $home       := site.BaseURL }}
{{ $logo       := site.Params.logos.navbar }}
{{ $logoUrl    := printf "img/logos/%s" $logo | relURL }}
{{ $nav        := site.Data.nav }}
{{ $currentUrl := .RelPermalink }}
<nav class="navbar is-fixed-top is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logoUrl }}" alt="{{ site.Title }} navbar logo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-end">
        {{ range $nav }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-size-5 has-text-weight-light is-arrowless">
            {{ .name }}
          </a>

          <div class="navbar-dropdown is-radiusless">
            {{ range .links }}
            {{ $url := .url | relURL }}
            <a class="navbar-item" href="{{ $url }}">
              {{ .name }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
