{{ $faq := site.Data.faq}}
<a id="faq"></a>
<section class="section">
  <div class="container">
    <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
      FAQ
    </p>

    <hr class="has-background-primary" />

    <div class="content is-medium is-faq-content">
      {{ range $faq }}
      {{ $question := .q | markdownify }}
      {{ $answer   := .a | markdownify }}
      <section class="faq">
        <p class="is-size-4 has-text-weight-bold">
          <span class="has-text-grey-darker">Q:</span> {{ $question }}
        </p>

        <p class="is-size-5 is-faq-answer">
          {{ $answer }}
        </p>
      </section>
      {{ end }}
    </div>
  </div>
</section>
