{{ $toc := site.Params.toc }}
<div class="columns is-multiline">
  {{ range $toc }}
  {{ $img  := printf "img/toc/%s" .img | relURL }}
  {{ $bio := .bio | markdownify }}
  <div class="column is-half">
    
    <div class="card">
      
      <div class="people-meta">
        <img src="{{ $img }}" alt="{{ .name }}">
        <h3>
          {{ .name }}
        </h3>
        {{ if ne .title "" }} 
           <h4>{{ .title }}</h4>
        {{ end }}
      </div>
      
      <div class="people-bio">
        {{ with $bio }}
        <hr class="has-background-primary" />
        <div>
          <p>{{ . }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  
  </div>
  {{ end }}
</div>